html{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 100%;
}
body {
  height:fit-content; /*why always stuck in this when used always scroll bar appear so used vh vw but didnot understand*/
  /* width: 100%; */
  background-image: url('asset/premium_photo-1683309568772-57011d6c1b7b.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main{
  font-family: Arial, sans-serif;
  max-width: 25rem;
  margin:auto;
  text-align:center;
}
input{
  margin: .25rem;
  padding: .5rem;
}
button{
  margin:.25rem;
  padding:.5rem;
  background-color: blue;
  color:white;
}
ul{
  list-style-type: none;
  padding: 0;
}
li{
  border-style: groove;
  width: 70%;
  display: flex;
  justify-content: space-between;
  background:white;
  align-items: center;
  margin: .25rem 0;
  padding: .5rem;
}
.li{
  display: flex;
}
.delete {
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}