html{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 100%;
}
body {
  height:100vh; /*why always stuck in this when used always scroll bar appear so used vh vw but didnot understand*/
  /* width: 100%; */
  background-image: url('asset/premium_photo-1683309568772-57011d6c1b7b.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


  .main {
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.card{
  text-align: center;
  width: 32rem;
  padding: 1.25rem;
  border-radius: .5rem;
  background: white;
  box-shadow: 0px 4px 10px; 
}
input{
  margin: .25rem;
  padding: .5rem;
  border-radius: .5rem;
  
}
button{
  margin:.25rem;
  padding:.5rem;
  background-color: blue;
  color:white;
  border-radius: .5rem;
}
ul{
  list-style-type: none;
  padding: 0;
}
li{
  border-style: groove;
  border-radius: .5rem;
  width: 70%;
  display: flex;
  justify-content: space-between;
  background:white;
  align-items: center;
  margin: .25rem 0;
  padding: .5rem;
}
.li{
  display: flex;
}
.delete {
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}